<!-- Services Section -->
    <section id="whatido">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I Do</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x circle-img-span">
                        <img class="circle-img-200" width="200" height="200" src="{{ site.baseurl }}/img/dubstep-square.png"/>
                    </span>
                    <h4 class="service-heading">Props</h4>
                    <p class="text-muted">Taking props from the big screen and engineering solutions to mimic their functions in real life.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x circle-img-span">
                        <img class="circle-img-200" width="200" height="200" src="{{ site.baseurl }}/img/bridges-square.png"/>
                    </span>
                    <h4 class="service-heading">Cosplay</h4>
                    <p class="text-muted">Going the extra mile, bringing a character to life by combining costume making and fabrication of functional props</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x circle-img-span">
                        <img class="circle-img-200" width="200" height="200" src="{{ site.baseurl }}/img/odradek-square.png"/>
                    </span>
                    <h4 class="service-heading">CAD</h4>
                    <p class="text-muted">Designing props from references for screen accuracy while accounting for internal space for electronics as well as structural integrity.</p>
                </div>
            </div>
        </div>
    </section>
